@media only screen and (max-width: 600px) {
  #lista {
    display: none;
  }
  .col,
  .col-3 {
    margin: 0px;
  }
  #layer_1 button {
    margin: 5px;
  }

  button:hover {
    transform: scale(1);
    transform: translateY(0);
    margin: 0px 0px !important;
  }

  /*LAYERS*/
  #layer_3 .container {
    width: 100%;
  }
}
