* {
  font-family: "Open Sans", serif;
}

html,
body {
  color: whitesmoke !important;
}
body {
  padding: 10px;
}
/*PANELS*/
.col,
.col-3 {
  border-radius: 1.33rem;
  margin: 0px 0px 0px 10px;
  padding: 10px;
}
#listaDesktop,
.textOutputWindow {
  height: calc(100vh - 20px); /* A teljes magasság hézaggal */
  overflow-y: scroll;
  overflow-x: hidden;
}

/*BUTTONS*/
button {
  color: whitesmoke;
  transition: transform 1s ease-in-out !important;
  transition: margin 0.3s ease-in-out !important;
}

button:hover {
  transform: scale(1.05) !important;
}
button:active {
  transform: scale(0.95) !important;
}

#listaDesktop button:hover {
  transform: translateY(-5px);
  margin: 20px 0px !important;
}

#listaDesktop button:active {
  margin: 0px 0px !important;
}
#listaDesktop button:focus {
  background-color: #171717;
}

/*ICONS*/
.icons {
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
}
.icons button {
  padding: 5px 10px;
  background: none;
  border: none;
}

#textOutput_desktop,
.icons {
  width: 100%;
}

#layer_3 .icons {
  position: fixed;
  top: 0;
  right: 0;
}

#layer_3 button {
  margin: 8px 26px 8px 8px;
}

/*LAYER 1*/
#layer_1 {
  z-index: 2;
}

#layer_1 .container {
  position: absolute;
  bottom: 12px;
  left: 50%; /* Vízszintesen középre tolás */
  transform: translateX(-50%); /* Középpont igazítása */
  max-width: 50%;
  border-radius: 1.33rem;
  padding: 10px;
}

#layer_1 button {
  width: 50px;
  height: 50px;
  margin: 20px;
  border-radius: 100%;
  border: none;
  font-weight: bold;
}

/*LAYER 2*/
#listaDesktop {
  display: flex;
  flex-direction: column;
  align-items: center; /* Vízszintes középre igazítás */
  font-size: small;
}

#listaDesktop button {
  width: 90%;

  /*Szöveg levágása*/
  word-wrap: break-word; /* Szövegtördelés engedélyezése */
  white-space: normal; /* A szöveg több soros lehet */

  padding: 12px;
  margin: 10px 0px;

  border-radius: 0.33rem;
  border: none;

  font-weight: bold;
  text-align: left;

  transition: transform 0.1s ease-in-out;
}

/*LAYER 3*/
#layer_3 {
  padding: 52px 25px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: calc(100vh - 5px);
  overflow-y: scroll;
  overflow-x: hidden;
}

/*footer*/
footer {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
footer button {
  padding: 8px 16px;
  border: none;
  font-size: 32px;
}
footer peter {
  margin: 0px 12px 0px 0px;
  font-size: 0px;
  transition: all 0.3s ease-in-out;
}

#Inf_Github {
  display: none;
  font-size: 0px;
  transition: font-size 0.3s ease;
}

#InfB_Github {
  text-decoration: none;
  opacity: 0.3;
  transition: opacity 0.3s ease;
}
#InfB_Github:hover {
  opacity: 1;
}

#InfB_Github button {
  border-radius: 100%;
  transition: border-radius 0.3s ease;

  /* Függőleges középre igazítás */
  display: flex;
  align-items: center;
}

/*Documents*/
img {
  max-width: 100%; /* A kép maximális szélessége a szülő szélességéhez igazodik */
  height: auto; /* A magasság arányosan változik a szélességgel */
}
#textOutput_desktop {
  padding: 30px 70px;
  font-size: 18px;
}

#textOutput_desktop ul,
#textOutput_fullscreen ul,
#textOutput_desktop ol,
#textOutput_fullscreen ol {
  margin-top: 25px;
}
#textOutput_desktop li,
#textOutput_fullscreen li {
  margin-top: 14px;
}

/*ScriptLogic.js*/
.hidden {
  display: none !important;
}
.visible {
  display: block !important;
}
